*{
    margin: 0;
    padding: 0;
}

body{
  display: flex;
  flex-direction: column;
  font-family: "prompt",sans-serif;
}
h6{
    font-family: "Protest Revolution",sans-serif;
}

.global{
    display: flex;
    justify-content: center;
    min-height: 40vh;
}
.global > section,
.global > header,
.global > footer{
    flex : 0 1 900px;
    // border : 1px solid gray;
    padding: 3rem 1rem;
    // background-color: rgba(0,0,0,.1);
    background-color: rgba(255,255,255,var(--transparence-section));
}
#entete,#footer{
    min-height: 20vh;
}
#entete{
    background-color: var(--couleur-arriere-entete);
}
#acceuil{
    background-color: var( --couleur-arriere-acceuil);
}
#evenement{
    background-color: var(--couleur-arriere-evenement);
}
#galerie{
    background-color: var( --couleur-arriere-galerie);
}
#footer{
    background-color: var(--couleur-arriere-footer);
}