* {
    margin : 0;
    padding:0;
}

body{
 display : flex;
 flex-direction : column;
 font-family: "prompt", sans-serif;
}

.global {
    display : flex;
    justify-content: center;
    min-height : 40vh;
}

.global > section,
.global > header,
.global > footer {
    flex : 0 1 1100px;
   
}
.global > header{
    flex: 1;
   
}

#accueil section p{
    margin: 20px;
    background-color: var(--couleur-arriere-accueil);
    box-shadow: 10px 16px 16px 14px var(--couleur-arriere-footer);
      
}

#entete{
    background-color: var(--couleur-arriere-entete);
    position: relative; 
    min-height: 100vh;
  

}
#accueil{
    background-color: var(--couleur-arriere-accueil);
    position: relative;

}
#evenement{
    background-color: var(--couleur-arriere-evenement);
    // position: relative;
    z-index: 1;

}
#galerie{
    background-color: var(--couleur-arriere-galerie);
    position: relative;
    
    
}
#footer{
    background-color: var(--couleur-arriere-footer);
    position: relative;
    // color: var();
   
}
#entete .icone{
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    z-index: 1;
    font-size: 2rem;
    cursor: pointer;
    
 }
 @media screen and (min-width: 768px){
   .global > header{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
   }
   #entete .icone {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
   }

    
 }