:root {
    --couleur-arriere-entete: #aaa;
    --couleur-arriere-acceuil: #0f0;
    --couleur-arriere-evenement : #045;
    --couleur-arriere-galerie : rgb(123, 22, 255);
    --couleur-arriere-footer : rgb(240, 26, 108);
}