:root {




  /* Calcul des teintes) */
  --u1 : 186; // couleur initiale
  --u2 : calc(var(--u1) + 36); // couleur complémentaire
  --u3 : calc(var(--u2) - 15); // couleur analogue gauche
  --u4 : calc(var(--u2) + 15); // couleur analogue droite
  /* La saturation */
  --s-arriere : 100%;
  --s-avant : 50%;
  /* la luminosité */
  --l-arriere : 30%;
  --l-avant : 20%;
 
/* couleur avant plan  - color  */
  
  --couleur-entete: hsl(var(--u1), 100%, 50%);
  --couleur-accueil:hsl(var(--u1), 19%, 69%);
  --couleur-evenement:hsl(39, 92%, 57%);
  --couleur-galerie: hsl(var(--u4),var(--s-avant), var(--l-avant));
  --couleur-footer: hsl(var(--u1),var(--s-avant), var(--l-avant));
  // couleur monochrome
  --couleur-arriere-entete: hsl(var(--u1),100%,70%);
  --couleur-arriere-accueil:hsl(var(--u1),100%,75%);
 
  --couleur-arriere-footer: hsl(var(--u1),100%,70%);

 --couleur-arriere-evenement: var(--couleur-arriere-accueil);
  --couleur-arriere-galerie: var(--couleur-arriere-accueil);


}


