.cours{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1rem;
}
.carte{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1 0 20%;
    border: 1px solid red;
}
.carte p{
    margin: 0;
    color: magenta;
}