
/*
https://chrisburnell.com/clamp-calculator/
*/
h1{ 
    font-size : clamp(1.25rem, -2.656rem + 12.5vw, 4.375rem);
    letter-spacing: -3px;
    font-weight: 600;
    font-style: normal;
    padding: 5px;
    text-shadow: 5px 5px 2px var(--couleur-footer);
      color: var(--couleur-evenement);
    
   ;
 }
 
#evenement h2 {
    color: var(--couleur-evenement);
 }

#entete h2 {
    color: var(--couleur-evenement);
   }

 h2{
    font-size: clamp(1rem, -1.292rem + 7.333vw, 3.75rem);
    font-weight: 500;
    font-style: normal;
    padding: 5px;
    color: var(--couleur-evenement);
 }
 #accueil h3 {
   color: var(--couleur-evenement);
 }
 h3{ font-size: clamp(1rem, -1.292rem + 7.333vw, 3.75rem);}
 h4{
   color: var(--couleur-arriere-accueil);
 }
 h5{}
 h6{
 
 }
 span{
  display: block;
 }
