a.button{
  color: red;
  margin: 3px;
  
  
  
  
}
.button{
  padding: 2px;
  border-radius: 5px;
  color: var(--couleur-entete);
  text-decoration: none;
  text-align: center;
  display: inline-block;
  transition: background-color .3s;

}