a.button{
  color: var(--couleur-evenement);
  margin: 3px;
  
  
  
  
}
.button{
  padding: 2px;
  border-radius: 5px;
  color: var(--couleur-entete);
  text-decoration: none;
  text-align: center;
  display: inline-block;
  transition: 0.3s ease-in-out;


}
.button:hover{
  background-color: var(--couleur-entete);
  color: var(--couleur-arriere-entete);
  text-decoration: none;
}