.diagonal{
    position: relative;
    isolation: isolate;
}
.diagonal ::after{
    position: absolute;
    content: "";
    // left: 0;
    // right: 0;
    // top: 0;
    // bottom: 0;
    inset: 0;
    background-color: var(--couleur-entete);
    transform: skewY(-5deg);
    z-index: -1;
    
}